.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
}

.stylus,
.stylusDiv {
  position: relative;
  height: auto;
  width: 100%;
  top: 0;
}

.letter {
  font-family: var(--font-one);
  position: fixed;
  text-align: center;
  font-size: 4rem;
  top: 98px;
  text-transform: capitalize;
  left: 119px;
}