.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
}

.stylusDiv {
  position: relative;
  height: auto;
  width: 100%;
  top: 0;
}

.stylusImg {
  position: fixed;
  top: 36%;
  left: 50%;
  transform: translate(-51%, -54%);
  opacity: 50%;
}