.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
}

.stylusDiv {
  position: relative;
  height: auto;
  width: 100%;
  top: 0;
}

.stylusImg {
  position: fixed;
  top: 36%;
  left: 50%;
  transform: translate(-51%, -54%);
  opacity: 75%;
}

.lowerContent {
  position: relative;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.loading {}

.output {
  font-family: var(--font-one);
}

.input {
  background-color: #444;
  border-radius: 2rem;
  height: 3rem;
  text-align: center;
  font-family: var(--user-font);
  width: 100%;
  font-size: 1.5rem;
}

.actions {
  display: flex;
  gap: 1rem;

  button {
    border: none;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #111;
    }
  }
}